@import '~antd/dist/antd.css';

body {
  padding: 16px;
}

.middle-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-float {
  float: right;
}

.middle-text {
  text-align: center;
}